SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=api.slancer.site
CORS_ALLOWED_ORIGINS=https://slancer.site
CSRF_TRUSTED_ORIGINS=https://api.slancer.site

DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=database-1.cehow80gicmq.us-east-1.rds.amazonaws.com
DB_PORT=5432

AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1